---
title: Urban
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">We do, what you are bored to do.</h2>
		<p class="subtext editable">This is <strong><a href="https://www.linkedin.com/in/dimitrisliakos/">Jim Liakos</a></strong><br>Building the Web Presence You Need.</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Me</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Some of our work</h3>
			<p class="editable">We take pride in our previous work and our happy customers. We cater to any sector to boost business and increase exposure.</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<h3 class="editable">Our Services</h3>
			<ul>
				<li><strong>Web Development:</strong> We specialize in creating responsive and user-friendly websites tailored to meet your specific needs.</li>
				<li><strong>Social Media Marketing:</strong> Our team excels in developing effective social media strategies to boost your online presence and engage with your target audience.</li>
				<li><strong>Boring and Repetitive Tasks:</strong> Let us handle those mundane and time-consuming tasks, allowing you to focus on more important aspects of your business.</li>
				<li><strong>AI Integration:</strong> We leverage the power of artificial intelligence to streamline processes, optimize workflows, and drive efficiency in your business operations.</li>
			</ul>
		</div>
		<div>
			<ul class="image-grid">
				<li><img src="https://i.postimg.cc/bvr8rd3y/Web-Development-3.png"> </li>
				<li><img src="https://i.postimg.cc/Dy7rSbb3/social-media.jpg"></li>
				<li><img src="https://i.postimg.cc/rFKggrQX/Boring-Taks.png"></li>
				<li><img src="https://i.postimg.cc/R0DwWsxW/Purple-Blue-Modern-geometrical-AI-Art-Instagram-Post.png"></li>
			</ul>
		</div>
		
	</div>
</section>
